<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home page</title>
    <link rel="stylesheet" href="../static/main.css">
    <script>
      document.addEventListener('DOMContentLoaded', function() {
      var updatebtn = document.getElementById('updatebtn')
      updatebtn.addEventListener("click",notifyupdate)
      
      function notifyupdate() {
        alert("The Gesture message updated successfully");
      }
    })


    </script>
  </head>
  <body id="bodycommon">
    <h1 id="commonh1">Customize Gestures</h1>
    <a href="/logout"class="homeButton" id="homeButton"><div class="functionCircle">home</div></a>
    <div class="formBlock">
    <form method="POST" action="{{ url_for('updateGestures') }}" class="customize">
        {% for gesture in gestures %}
            <div>
                <label for="gesture_{{ gesture.id }}_message">Gesture {{ gesture.gesture }}:</label>
                <input type="text" id="gesture_{{ gesture.id }}_message" name="gesture_{{ gesture.id }}_message" value="{{ gesture.message }}">
            </div>
        {% endfor %}
        <button type="submit"class="UploadButton"id="updatebtn">Update Gestures</button>
    </form>
  </div>
  </body>
</html>
