<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home page</title>
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body id="bodycommon">
    <div class="functionsSection">
      <h1 id="commonh1">Functions</h1>
      <a href="/handgesture" class="functionBlock" id="block1">
        <span class="glyphicon glyphicon-picture icon-large"></span>
        <div class="functionName">Hand Gesture Classification</div>
      </a>
      {% if 'authenticated' in session and session['authenticated'] %}
      <a href="/customize" class="functionBlock" id="block2">
        <span class="glyphicon glyphicon-hand-up icon-large"></span>
        <div class="functionName">Hand Gesture Customization</div>
      </a>
      <a href="/message" class="functionBlock" id="block3">
        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="75" fill="currentColor" class="bi bi-table" viewBox="0 -2 16 16">
          <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm15 2h-4v3h4zm0 4h-4v3h4zm0 4h-4v3h3a1 1 0 0 0 1-1zm-5 3v-3H6v3zm-5 0v-3H1v2a1 1 0 0 0 1 1zm-4-4h4V8H1zm0-4h4V4H1zm5-3v3h4V4zm4 4H6v3h4z"/>
        </svg>
        <div class="functionName">Student's Messages</div>
      </a>
      {% else %}
      <a href="/login" class="functionBlock" id="block2">
        <span class="glyphicon glyphicon-hand-up icon-large"></span>
        <div class="functionName">Login to Customize Gestures</div>
      </a>
      <a href="/login" class="functionBlock" id="block3">
        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="75" fill="currentColor" class="bi bi-table" viewBox="0 -2 16 16">
          <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm15 2h-4v3h4zm0 4h-4v3h4zm0 4h-4v3h3a1 1 0 0 0 1-1zm-5 3v-3H6v3zm-5 0v-3H1v2a1 1 0 0 0 1 1zm-4-4h4V8H1zm0-4h4V4H1zm5-3v3h4V4zm4 4H6v3h4z"/>
        </svg>
        <div class="functionName">Login to View Messages</div>
      </a>
      {% endif %}
    </div>
  </body>
</html>
