#bodycommon{
background-color: #2F2E2E;

}
#commonh1{
    color: white;
    text-align: center;
    font-weight: bold;
}
.functionsSection{
width: 70vb;
float: left;
height:70vb;
align-items: center;
margin-top: 20vb;
border-style: solid;
border-color: white;
margin-left: 10vb;
}
.functionBlock{
    display: inline-block;
    border: 0.5px;
    border-color: white;
    width: 35%;
    height: 35%;
    color:white;
    border-style: solid;
    text-decoration: none;
    align-items: center;

}
#block1{
    background-color:#618CA5;
    text-align: center;
    font-weight: bold;
    border-radius: 5%;
    margin-left: 5vb;
}
#block2{
    background-color:#83bbdb;
    text-align: center;
    font-weight: bold;
    border-radius: 5%;
    float:right;
    margin-right: 5vb;
}
#block3{
    background-color:#719fb8;
    text-align: center;
    font-weight: bold;
    border-radius: 5%;
    float:left;
    margin-top:5vb;
    margin-left: 5vb;
}
.functionName{
    align-items: center;
    margin-top: 2vb;
    margin-left: 2vb;
    margin-right: 2vb;
    font-size: 2vb;

}
.Upload{
    background-color:#618CA5;
    color:white;
    border: 0.5px;
    border-style:solid;
    border-radius: 5%;
    margin-top: 15vb;
    height: 50vb;
    width: 50%;
}
.formBlock{
    margin-top: 9vb;
    margin-left: 2vb;
    margin-right: 2vb;
}
.UploadButton{
    border: 2px solid gray;
    color: gray;
    background-color: white;
    font-weight: bold;
    border-radius: 2%;
}
.PredictionResult{
color:white;
}

.functionCircle{
    height:7vb;
    width: 7vb;
    color:white;
    background-color: #618CA5;
    border-radius: 100%;
    text-align: center;
    align-items: center;
    font-weight: bold;
    display: flex;
    align-items: center; /* Center vertically */
    font-size: 3vb;
}
.homeButton{
    text-decoration: none;
}
.customize{
    background-color:#618CA5;
    color:white;
    width: fit-content;
    padding: 5vb;
    border-style:solid;
    border-radius: 5%;
    margin-top: 15vb;
}
.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height:50vb

  }
  
  #messageTable {
    width: 80%;
    margin: auto;
  }
  #bodymessage{
    background-color: #2F2E2E ;
  }
  .theadmessage{
    width:100%;
  }
  .tbodymessage{
    width:100%;
  }
  
  .icon-large {
    font-size: 10vb;
    margin-top:2vb;
  }